# OS
.DS_Store
*.pem

# Dependencies and build
web/node_modules
web/.next
web/out
web/build
web/dist
.webpack

# Env
.env
.env*.local

# IDE
.idea
.vscode
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Vercel
.vercel
